<footer class="footer-half sub-bg section-padding pb-0">
        <div class="container">
          <div class="copyrights text-center">
            <p>© 2022, ThePxLZ Hosting.</p>
          </div>
        </div>
      </footer>