
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Logo -->
        <a class="logo" href="#">
          <img src="img/logo.png" alt="logo" />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
              <a
                class="nav-link"
                href="store"
                >Store</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://discord.gg/aZvwbnceQz"   
              target="_blank">Discord Server</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="tos">Terms Of Service</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="pvc">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://discord.com/api/oauth2/authorize?client_id=1063194817405915177&redirect_uri=https%3A%2F%2Fasjasdijasdjh123823hja.pxlz915715.repl.co%2Fauth%2Fdiscord&response_type=token&scope=identify"
                >Login with Discord</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

