<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="keywords" content="ThePxLZ Hosting" />
    <meta
      name="description"
      content="ThePxLZ Hosting provide you with high-tech bots to manage your server, Protect it, Or add an entertainment touch to your server through our entertainment bots."
    />
    <meta name="author" content="ThePxLZ Crew" />

    <!-- Title  -->
    <title>ThePxLZ Hosting - 404 !</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/logo.ico" />

    <!-- Google Fonts -->
    <script
      src="https://kit.fontawesome.com/30d263a3fa.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <script
      src="https://kit.fontawesome.com/5ec24d4dd0.js"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Plugins -->
    <link rel="stylesheet" href="css/plugins.css" />
    <script src="js/script.js" defer></script>

    <!-- Core Style Css -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <script
      src="https://kit.fontawesome.com/5ec24d4dd0.js"
      crossorigin="anonymous"
    ></script>

    <!-- ==================== Start Loading ==================== -->

    <div id="preloader"></div>

    <!-- ==================== End Loading ==================== -->

    <!-- ==================== Start progress-scroll-button ==================== -->

    <div class="progress-wrap cursor-pointer">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>

    <!-- ==================== End progress-scroll-button ==================== -->

    <!-- ==================== Start cursor ==================== -->

    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- ==================== End cursor ==================== -->

    <!-- ==================== Start Navbar ==================== -->

   <%- include("./partials/header") %>

    <!-- ==================== End Navbar ==================== -->

    <div class="main-content">
      <!-- ==================== Start products ==================== -->

      <div class="container">
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="sec-head custom-font text-center">
          <h3 class="wow" data-splitting>Terms Of Serivce</h3>
          <h2 class="wow" data-splitting>
            Please read the Terms of Service carefully
          </h2>
          <h2 class="wow" data-splitting>
            We inform you that your purchase is an agreement to our terms of
            service & Privacy Policy
          </h2>
          <br />
          <br />
          <span class="tos-title">Terms Of Serivce</span>
          <h4 class="tos-lines">
            After confirming the order, We do not refund money, This means that
            after confirming the order, It cannot be canceled.
          </h4>
          <br />
          <h4 class="tos-lines">
            ThePxLZ Hosting disclaims any responsibility for any illegal
            activities that are carried out through the bots that was purchased
            from the hosting.
          </h4>
          <br />
          <h4 class="tos-lines">
            The hosting has the right to stop the service of any customer
            without giving reasons and notifying the customer before that.
          </h4>
          <br />
          <h4 class="tos-lines">
            The services provided by hosting are used for legitimate purposes
            that do not violate the sanctity of Islamic law.
          </h4>
          <br />
          <h4 class="tos-lines">
            Your purchase of any of the Services constitutes your acceptance of
            all of these terms on this page.
          </h4>
          <br />
          <h4 class="tos-lines">
            The hosting has the right to change or add items on this page at any
            time it deems appropriate, and the customer must follow the items
            even without notice.
          </h4>
          <br />
          <h4 class="tos-lines">
            Hosting is committed to saving customer data and not providing it to
            any party unless it is an official party.
          </h4>
          <br />

          <h4 class="tos-lines">
            Hosting is committed to delivering orders to the customer within a
            period of 24 to 72 hours after payment.
          </h4>
          <br />

          <h4 class="tos-lines">
            Hosting is committed to compensating the customer in the event of a
            permanent disruption of services by providing another alternative
            service.
          </h4>
          <br />

          <h4 class="tos-lines">
            The customer has the right to request a refund of the money paid
            before the order is confirmed.
          </h4>
          <br />

          <h4 class="tos-lines">
            The money paid will be refunded using the same method of payment
            that the customer used.
          </h4>

          <span class="tbg"></span>
        </div>
      </div>

      <!-- ==================== End products ==================== -->

      <!-- ==================== Start Footer ==================== -->

          <%- include("./partials/footer") %>


      <!-- ==================== End Footer ==================== -->
    </div>

    <!-- jQuery -->
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="js/scripts.js"></script>
    <script
      src="https://kit.fontawesome.com/5ec24d4dd0.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
