<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="keywords" content="ThePxLZ Hosting" />
    <meta
      name="description"
      content="ThePxLZ Hosting provide you with high-tech bots to manage your server, Protect it, Or add an entertainment touch to your server through our entertainment bots."
    />
    <meta name="author" content="ThePxLZ Crew" />

    <!-- Title  -->
    <title>ThePxLZ Hosting - With you !</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/logo.ico" />

    <!-- Google Fonts -->

    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Plugins -->
    <link rel="stylesheet" href="css/plugins.css" type="text/css"/>

    <!-- Core Style Css -->
    <link rel="stylesheet" href="css/style.css" type="text/css"/>

  </head>

  <body>
    <!-- ==================== Start Loading ==================== -->

    <div id="preloader"></div>

    <!-- ==================== End Loading ==================== -->

    <!-- ==================== Start progress-scroll-button ==================== -->

    <div class="progress-wrap cursor-pointer">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>

    <!-- ==================== End progress-scroll-button ==================== -->

    <!-- ==================== Start cursor ==================== -->

    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- ==================== End cursor ==================== -->
    
    <!-- ==================== Start Navbar ==================== -->
    <%- include("./partials/header") %>
    <!-- ==================== End Navbar ==================== -->

    <!-- ==================== Start Slider ==================== -->

                  <div id="pxlz">m7md</div>

      
    <header class="slider slider-prlx fixed-slider text-center">
      <div class="swiper-container parallax-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div
              class="bg-img valign"
              data-background="img/bg.jpg"
              data-overlay-dark="6"
            >
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-7 col-md-9">
                    <div class="caption center">
                      <h1 data-splitting>ThePxLZ</h1>
                      <h2>Hosting</h2>
                      <p>With us. Your server is different !</p>
                      <a
                        href="https://discord.gg/aZvwbnceQz"
                        target="_blank"
                        class="btn-curve btn-lit mt-30"
                      >
                        <span>Check our Discord server</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              class="bg-img valign"
              data-background="img/bg.jpg"
              data-overlay-dark="6"
            >
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-7 col-md-9">
                    <div class="caption center">
                      <h1 data-splitting>High-Tech Moderation</h1>
                      <p>
                        Manage your server professionally with our high-tech
                        systems
                      </p>
                      <a href="#0" class="btn-curve btn-lit mt-30">
                        <span>You're almost there, Review now !</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              class="bg-img valign"
              data-background="img/bg.jpg"
              data-overlay-dark="6"
            >
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-7 col-md-9">
                    <div class="caption center">
                      <h1 data-splitting>More vitality</h1>
                      <p>
                        Add more vitality to your server with our entertainment
                        perks systems
                      </p>
                      <a href="#0" class="btn-curve btn-lit mt-30">
                        <span>You're almost there, Review now !</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- slider setting -->
        <div class="setone setwo">
          <div
            class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer"
          >
            <i class="fas fa-chevron-right"></i>
          </div>
          <div
            class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer"
          >
            <i class="fas fa-chevron-left"></i>
          </div>
        </div>

        <div class="social-icon">
          <a href="#0"><i class="fab fa-facebook-f"></i></a>
          <a href="#0"><i class="fab fa-twitter"></i></a>
          <a href="#0"><i class="fab fa-discord"></i></a>
        </div>
      </div>
    </header>

    <!-- ==================== End Slider ==================== -->

    <div class="main-content">
      <!-- ==================== Start about ==================== -->

      <div class="about section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <div class="img-mons">
                <div class="row">
                  <div class="col-md-5 cmd-padding valign">
                    <div class="img1 wow imago" data-wow-delay=".5s">
                      <img src="img/shield.png" alt="" />
                    </div>
                  </div>
                  <div class="col-md-7 cmd-padding">
                    <div class="img2 wow imago" data-wow-delay=".3s">
                      <img src="img/settings.png" alt="" />
                    </div>
                    <div class="img3 wow imago" data-wow-delay=".8s">
                      <img src="img/cpu_chip.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 offset-lg-1 valign">
              <div class="content">
                <div class="sub-title">
                  <h6>About Us</h6>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <h3 class="main-title wow" data-splitting>
                  Advance your server with our perks !.<br />
                </h3>
                <p class="wow txt" data-splitting>
                  We provide you with high-tech bots to develop your server at
                  the highest level.
                </p>
                <div class="ftbox mt-30">
                  <ul>
                    <li class="wow fadeIn" data-wow-delay=".3s">
                      <span class="fa-solid fa-microchip"></span>
                      <h6 class="custom-font">
                        High <br />
                        Quality
                      </h6>
                      <div class="dots">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                    </li>
                    <li class="space wow fadeIn" data-wow-delay=".5s">
                      <span class="fa-solid fa-money-bill-1-wave"></span>
                      <h6 class="custom-font">
                        Cheap <br />
                        Prices
                      </h6>
                      <div class="dots">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                    </li>
                    <li class="wow fadeIn" data-wow-delay=".8s">
                      <span class="fa-solid fa-infinity"></span>
                      <h6 class="custom-font">
                        Lifetime <br />
                        Warranty
                      </h6>
                      <div class="dots">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ==================== End about ==================== -->

      <!-- ==================== Start Services ==================== -->

      <section class="services">
        <div class="container">
          <div class="sec-head custom-font text-center">
            <h6 class="wow fadeIn" data-wow-delay=".5s">Hey !! Wait.</h6>
            <h3 class="wow" data-splitting>Why using PxLZ bots?.</h3>
            <span class="tbg"></span>
          </div>
          <div class="row">
            <div
              class="col-lg-3 col-md-6 item-box bg-img wow fadeInLeft"
              data-wow-delay=".3s"
              data-background="img/cart.png"
            >
              <h4 class="custom-font">Our Collection of bots</h4>
              <a href="#" class="btn-curve btn-bord btn-lit mt-40"
                ><span>Go to store</span></a
              >
            </div>
            <div
              class="col-lg-3 col-md-6 item-box wow fadeInLeft"
              data-wow-delay=".5s"
            >
              <span class="fa-solid fa-gears"></span>
              <h6>Advanced Moderation Systems</h6>
              <p>
                Manage your server professionally using our moderation systems.
              </p>
            </div>
            <div
              class="col-lg-3 col-md-6 item-box wow fadeInLeft"
              data-wow-delay=".7s"
            >
              <span class="fa-solid fa-shield"></span>
              <h6>24/7 Protection</h6>
              <p>
                Don't be afraid of raids anymore, Enjoy peace of mind with our
                security systems.
              </p>
            </div>
            <div
              class="col-lg-3 col-md-6 item-box wow fadeInLeft"
              data-wow-delay=".9s"
            >
              <span class="fa-solid fa-gamepad"></span>
              <h6>More vitality</h6>
              <p>Make your server livelier with our entertainment systems.</p>
            </div>
          </div>
        </div>
        <div class="half-bg bottom"></div>
      </section>

      <!-- ==================== End Services ==================== -->

      <!-- ==================== Start call-to-action ==================== -->

      <section
        class="call-action section-padding sub-bg bg-img"
        data-background="img/pattern.png"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-lg-9">
              <div class="content sm-mb30">
                <h6 class="wow" data-splitting>Let’s Talk</h6>
                <h2 class="wow custom-font" data-splitting>
                  about <b>your next server</b>.
                </h2>
              </div>
            </div>

            <div class="col-md-4 col-lg-3 valign">
              <a
                href="contact.html"
                class="btn-curve btn-lit wow fadeInUp"
                data-wow-delay=".5s"
                ><span>Our Discord Server</span></a
              >
            </div>
          </div>
        </div>
      </section>

      <!-- ==================== End call-to-action ==================== -->

      <!-- ==================== Start Footer ==================== -->

      <%- include("./partials/footer") %>

      <!-- ==================== End Footer ==================== -->
    </div>

    <script
      src="https://kit.fontawesome.com/30d263a3fa.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5ec24d4dd0.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5ec24d4dd0.js"
      crossorigin="anonymous"
    ></script>

    <!-- jQuery -->
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="js/scripts.js"></script>

      
    <script
      src="https://kit.fontawesome.com/5ec24d4dd0.js"
      crossorigin="anonymous"
    ></script>

      
  </body>
</html>
