<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="keywords" content="ThePxLZ Hosting" />
    <meta
      name="description"
      content="ThePxLZ Hosting provide you with high-tech bots to manage your server, Protect it, Or add an entertainment touch to your server through our entertainment bots."
    />
    <meta name="author" content="ThePxLZ Crew" />

    <!-- Title  -->
    <title>ThePxLZ Hosting - Store</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/logo.ico" />

    <!-- Google Fonts -->
    <script
      src="https://kit.fontawesome.com/30d263a3fa.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <script
      src="https://kit.fontawesome.com/5ec24d4dd0.js"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Plugins -->
    <link rel="stylesheet" href="/css/plugins.css" />
    <script src="/js/script.js" defer></script>

    <!-- Core Style Css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <script
      src="https://kit.fontawesome.com/5ec24d4dd0.js"
      crossorigin="anonymous"
    ></script>

    <!-- ==================== Start Loading ==================== -->

    <div id="preloader"></div>

    <!-- ==================== End Loading ==================== -->

    <!-- ==================== Start progress-scroll-button ==================== -->

    <div class="progress-wrap cursor-pointer">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>

    <!-- ==================== End progress-scroll-button ==================== -->

    <!-- ==================== Start cursor ==================== -->

    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- ==================== End cursor ==================== -->

    <!-- ==================== Start Navbar ==================== -->

       <%- include("./partials/header") %>

    <!-- ==================== End Navbar ==================== -->

    <div class="main-content">
      <!-- ==================== Start products ==================== -->

      <div class="product-main-container">
        <br />
        <br />
        <br />

        <div class="container">
          <div class="sec-head custom-font text-center">
            <h6 class="wow fadeIn" data-wow-delay=".5s">Welcome to</h6>
            <h3 class="wow" data-splitting>Our Store.</h3>
            <h2 class="wow" data-splitting>
              Please read our Terms of Service & Privacy Policy before
              purchasing
            </h2>
            <h1 class="wow" data-splitting>
              We inform you that your purchase is an agreement to our Terms Of
              Service & Privacy Policy
            </h1>
            <br />
            <span class="tbg"></span>
            <center>
              <a href="#" class="tos"><u>Terms Of Service</u></a>
              <br />
              <br />
 <div id="name"></div>
              <a href="#" class="tos"><u>Privacy Policy</u></a>
            </center>
          </div>
        </div>

        <div class="products-container">
          <div class="product" data-name="p-1">
            <img src="/images/1.png" alt="" />
            <h3>System Bot</h3>
            <div class="price">40k Probot | 2.50$</div>
          </div>

          <div class="product" data-name="p-2">
            <img src="/images/2.png" alt="" />
            <h3>Security Bot</h3>
            <div class="price">35k Probot | 2.00$</div>
          </div>

          <div class="product" data-name="p-3">
            <img src="/images/3.png" alt="" />
            <h3>Staff Apply Bot</h3>
            <div class="price">20k Probot | 1.25$</div>
          </div>

          <div class="product" data-name="p-4">
            <img src="/images/4.png" alt="" />
            <h3>Activity System Bot</h3>
            <div class="price">40k Probot | 2.50$</div>
          </div>

          <div class="product" data-name="p-5">
            <img src="/images/5.png" alt="" />
            <h3>Games Bot</h3>
            <div class="price">30k Probot | 1.50$</div>
          </div>

          <div class="product" data-name="p-6">
            <img src="/images/6.png" alt="" />
            <h3>Support Tickets Bot</h3>
            <div class="price">40k Probot | 2.50$</div>
          </div>

          <div class="product" data-name="p-7">
            <img src="/images/7.png" alt="" />
            <h3>ModMail Bot</h3>
            <div class="price">40k Probot | 2.50$</div>
          </div>

          <div class="product" data-name="p-8">
            <img src="/images/8.png" alt="" />
            <h3>Giveaways Bot</h3>
            <div class="price">40k Probot | 2.50$</div>
          </div>

          <div class="product" data-name="p-9">
            <img src="/images/9.png" alt="" />
            <h3>Invites Logger Bot</h3>
            <div class="price">35k Probot | 2.00$</div>
          </div>
        </div>
      </div>

      <div class="products-preview">
        <div class="preview" data-target="p-1">
          <i class="fas fa-times"></i>
          <img src="/images/1.png" alt="" />
          <h3>System Bot</h3>
          <p>
            More smart Moderation on your server. <br /><br />
            - Status, Name, And avatar can be changed. <br />
            - 24/7 Support <br />
            - Lifetime Warranty <br />
            - 24/7 Uptime
          </p>
          <div class="price">40k Probot | 2.50$</div>
          <div class="buttons">
            <a href="#" class="buy">Buy now</a>
            <a href="#" class="cart">Try free demo</a>
          </div>
        </div>

        <div class="preview" data-target="p-2">
          <i class="fas fa-times"></i>
          <img src="/images/2.png" alt="" />
          <h3>Server Security Bot</h3>
          <p>
            Don't worry about raids anymore ! <br /><br />
            - Change bot Username, Avatar and status <br />
            - 24/7 Support <br />
            - Lifetime Warranty <br />
            - 24/7 Uptime
          </p>
          <div class="price">35k Probot | 2.00$</div>
          <div class="buttons">
            <a href="#" class="buy">Buy now</a>
            <a href="#" class="cart">Try free demo</a>
          </div>
        </div>

        <div class="preview" data-target="p-3">
          <i class="fas fa-times"></i>
          <img src="/images/3.png" alt="" />
          <h3>Staff Apply Bot</h3>
          <p>
            Staff application system in your server. <br /><br />
            - Change bot Username, Avatar and status <br />
            - 24/7 Support <br />
            - Lifetime Warranty <br />
            - 24/7 Uptime
          </p>
          <div class="price">20k Probot | 1.25$</div>
          <div class="buttons">
            <a href="#" class="buy">Buy now</a>
            <a href="#" class="cart">Try free demo</a>
          </div>
        </div>

        <div class="preview" data-target="p-4">
          <i class="fas fa-times"></i>
          <img src="/images/4.png" alt="" />
          <h3>Activity System Bot</h3>
          <p>
            Encourage your server members to become active. <br /><br />
            - Change bot Username, Avatar and status <br />
            - 24/7 Support <br />
            - Lifetime Warranty <br />
            - 24/7 Uptime
          </p>
          <div class="price">40k Probot | 2.50$</div>
          <div class="buttons">
            <a href="#" class="buy">Buy now</a>
            <a href="#" class="cart">Try free demo</a>
          </div>
        </div>

        <div class="preview" data-target="p-5">
          <i class="fas fa-times"></i>
          <img src="/images/5.png" alt="" />
          <h3>Games Bot</h3>
          <p>
            Add some vitality to your server. <br /><br />
            - Change bot Username, Avatar and status <br />
            - 24/7 Support <br />
            - Lifetime Warranty <br />
            - 24/7 Uptime
          </p>
          <div class="price">30k Probot | 1.50$</div>
          <div class="buttons">
            <a href="#" class="buy">Buy now</a>
            <a href="#" class="cart">Try free demo</a>
          </div>
        </div>

        <div class="preview" data-target="p-6">
          <i class="fas fa-times"></i>
          <img src="/images/6.png" alt="" />
          <h3>Support Tickets Bot</h3>
          <p>
            High tech support ticket system. <br /><br />
            - Change bot Username, Avatar and status <br />
            - 24/7 Support <br />
            - Lifetime Warranty <br />
            - 24/7 Uptime
          </p>
          <div class="price">40k Probot | 2.50$</div>
          <div class="buttons">
            <a href="#" class="buy">Buy now</a>
            <a href="#" class="cart">Try free demo</a>
          </div>
        </div>

        <div class="preview" data-target="p-7">
          <i class="fas fa-times"></i>
          <img src="/images/7.png" alt="" />
          <h3>ModMail Bot</h3>
          <p>
            Technical support via bot DM. <br /><br />
            - Change bot Username, Avatar and status <br />
            - 24/7 Support <br />
            - Lifetime Warranty <br />
            - 24/7 Uptime
          </p>
          <div class="price">40k Probot | 2.50$</div>
          <div class="buttons">
            <a href="#" class="buy">Buy now</a>
            <a href="#" class="cart">Try free demo</a>
          </div>
        </div>

        <div class="preview" data-target="p-8">
          <i class="fas fa-times"></i>
          <img src="/images/8.png" alt="" />
          <h3>Giveaways Bot</h3>
          <p>
            Professionally manage giveaways in your server. <br /><br />
            - Change bot Username, Avatar and status <br />
            - 24/7 Support <br />
            - Lifetime Warranty <br />
            - 24/7 Uptime
          </p>
          <div class="price">40k Probot | 2.50$</div>
          <div class="buttons">
            <a href="#" class="buy">Buy now</a>
            <a href="#" class="cart">Try free demo</a>
          </div>
        </div>

        <div class="preview" data-target="p-9">
          <i class="fas fa-times"></i>
          <img src="/images/9.png" alt="" />
          <h3>Invites Logger Bot</h3>
          <p>
            Log all invitations and joins in your server. <br /><br />
            - Change bot Username, Avatar and status <br />
            - 24/7 Support <br />
            - Lifetime Warranty <br />
            - 24/7 Uptime
          </p>
          <div class="price">35k Probot | 2.00$</div>
          <div class="buttons">
            <a href="#" class="buy">Buy now</a>
            <a href="#" class="cart">Try free demo</a>
          </div>
        </div>
      </div>

      <!-- ==================== End products ==================== -->

      <!-- ==================== Start Footer ==================== -->

          <%- include("./partials/footer") %>


      <!-- ==================== End Footer ==================== -->
    </div>

    <!-- jQuery -->
    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="/js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="/js/scripts.js"></script>
    <script
      src="https://kit.fontawesome.com/5ec24d4dd0.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
